<header id="header"  [style.background-color]="bgColor">
    <mdb-navbar #menu id="menu" [containerInside]="false"
        SideClass=" fixed-top animated fadeInDown navbar navbar-expand-lg navbar-{{navbarText}} bg-{{navBarColor}}">
        <mdb-navbar-brand>
            <a href="/" class="navbar-brand" [style.background]="'url('+logoLocation+')'" id="logo" title="mjf-legal">

            </a>
            <br>
            28202 Cabot Road, Suite 300
            <br>
            Laguna Niguel, CA, 92677
        </mdb-navbar-brand>

        <links>
            <div #navContainer class="container">
                <div class="row">
                    <div class="col-8 offset-4">
                        <div class="float-right tel">
                            Call Now: <a href="tel:+1-949-364-1511 ">+1(949)-364-1511</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-4">
                        <div class="float-right">
                            <a class="button " href="/contact-us/attorney-referral-and-co-counsel-opportunities/">
                                MCLE Signup <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </a>
                            <a class="button secondary" href="/contact-us/">
                                Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row float-right">
                    <ul id="menu-main-navigation" class="navbar-nav mr-auto">
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item">
                            <a class="nav-link" href="https://www.price-law.com/" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item dropdown" dropdown>
                            <a dropdownToggle type="button" class="nav-link dropdown-toggle">
                                Mediation<span class="caret"></span>
                            </a>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">About Mediation</a>
                                <div class="divider dropdown-divider"></div>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Civil Mediation</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Family Mediation</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Workplace Mediation</a>

                            </div>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item dropdown" dropdown>
                            <a dropdownToggle  type="button" class="nav-link dropdown-toggle">
                                Services<span class="caret"></span>
                            </a>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">About Services</a>
                                <div class="divider dropdown-divider"></div>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Privacy Consultant</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Professional Speaker</a>
                                <a class="dropdown-item waves-light" mdbWavesEffect href="#">MCLE Education</a>

                            </div>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item">
                            <a class="nav-link" href="https://www.price-law.com/" aria-current="page">
                                Articles
                            </a>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item">
                            <a class="nav-link" href="https://www.price-law.com/" aria-current="page">
                                FAQ
                            </a>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item">
                            <a class="nav-link" href="https://www.price-law.com/" aria-current="page">
                                Links
                            </a>
                        </li>
                        <li [style.margin-left.px]="navContainer.offsetWidth/navItemsSpacing" class="nav-item">
                            <a class="nav-link" href="https://www.price-law.com/" aria-current="page">
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </links>

    </mdb-navbar>
</header>