:host
    font-family: 'Lora', serif;
#header 
    background-color: white;
    opacity: .75;
    #logo
        width: 20rem;
        height: 5rem
        display: block;
        cursor: pointer;
        text-indent: -9999em;
        float: left;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        &.opacity1.animated 
	        opacity: 1 !important;
    a
        margin: 0px !important;
        padding: .5rem 0 0 .5rem !important;
        &.button
            margin: .5rem 0 !important;
            margin-left: .5rem !important;
            padding: .5rem .5rem !important;
            color: #FFF;
            font-family: 'Lora', serif;
            font-size: 14px;
            text-transform: uppercase;
            height: 39px;
            line-height: 39px;
            display: inline-block;
            background: #81052a;
            &.secondary
                background: #525254;
    .tel
        color: #505052;
        cursor: default;
#menu-main-navigation
    padding-right: 10rem !important;
