<div class="container-fluid">
    <lib-header [logoLocation]="'assets/images/logo.png'" [bgColor]="'grey'" [navBarColor]="'light'"
        [navbarText]="'light'">
    </lib-header>

    <div class="row">
        <div class="col-12 content-hero">
            <img #hero class="w-100 animated slideInUp" src="assets/images/hero1.png" alt="First slide">  
            <i #chevron [style.top.px]="hero.height-convertRemToPixels(5)" [style.right.px]="hero.width/2" class="animated bounce infinite chevron-down fas fa-5x fa-chevron-down"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12 content-main">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="assets/images/headline.gif" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 order-lg-12">
                        <div class="embed-responsive embed-responsive-4by3">
                            <video controls autoplay muted class="embed-responsive-item">
                                <source src="assets/video/intro.mp4" type="video/mp4">
                                <font face="Times New Roman" size="2">
                                    If the above embeded video does not play due to your computer security, please <a
                                        href="Video/intro.wmv">click here.</a>
                                </font>
                            </video>
                        </div>
                        <a href="faq.html" style="color: #bb0511; font-family: Arial; font-size: 18">
                            <p align="center">Watch Mari's short video clips to answer your mediation questions</p>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 my-auto">
                        <div>
                            <font color="#800000" face="Times New Roman" size="3"><b>Attorney/Mediator who facilitates
                                    mutually satisfying agreements</b>
                            </font>
                            <div class="d-lg-none">
                                <a href="#section1" data-toggle="collapse">
                                    <small>read more...</small>
                                </a>
                                <br><br>
                            </div>
                            <div id="section1" class="div-collapse collapse d-lg-block">
                                <p align="justify">
                                    <font face="Times New Roman" size="3">With over 20 years of legal
                                        mediation experience, Mari Frank&#146;s skills in conflict deflection help you
                                        achieve the
                                        best outcome with a minimum of stress. Her process of &quot;solutioneering&quot;
                                        is more
                                        financially and emotionally advantageous than a court battle. Ms. Frank&#146;s
                                        unique
                                        style provides a safe harbor where proposals can be shared in a private
                                        protected setting
                                        managed by an expert facilitator.</font>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <p style="margin-bottom:0px" align="justify">
                            <b>
                                <font color="#800000" face="Times New Roman" size="3">We respect
                                    your privacy</font>
                            </b>
                        </p>
                        <div class="d-lg-none">
                            <a href="#section2" data-toggle="collapse">
                                <small>read more...</small>
                            </a>
                            <br><br>
                        </div>
                        <div id="section2" class="div-collapse collapse d-lg-block">
                            <p align="justify">
                                <font face="Times New Roman" size="3">As a lawyer, mediator and
                                    privacy consultant, Mari&#146;s expertise in privacy, civil and family law, and
                                    mediation
                                    techniques enables you to attain a mutually satisfying agreement without
                                    compromising your
                                    confidentiality or privacy. As author of <i>Safeguard Your Identity</i>, Ms. Frank
                                    has a
                                    keen consciousness about the need to keep sensitive information out of the public
                                    eye. </font>
                            </p>
                            <p align="justify">
                                <font face="Times New Roman" size="3">Aside from avoiding soaring
                                    litigation costs, and resolving all issues to everyone's satisfaction, mediation has
                                    the
                                    perk of confidentiality.&nbsp; In Mari's office, you participate in a private
                                    mediation
                                    process; the public does not hear embarrassing statements or accusations, nor do you
                                    make
                                    public record of you or your company's finances and sensitive information. </font>
                            </p>
                            <p ALIGN="JUSTIFY">
                                <font face="Times New Roman" size="3">Mari Frank is an attorney/
                                    mediator, author, professional trainer, and privacy consultant in private practice
                                    in
                                    Laguna Niguel, California. She has worked in the District Attorney&#146;s Office,
                                    practiced law in insurance defense, and has had a general civil law practice. In
                                    recent
                                    years she has limited her legal practice to resolving disputes through mediation and
                                    has
                                    successfully settled thousands of disputes as a neutral.</font>
                            </p>
                            <p ALIGN="JUSTIFY">
                                <font face="Times New Roman" size="3">Ms. Frank has taught hundreds of
                                    law students as a law professor, and thousands of attorneys as a certified trainer
                                    for
                                    continuing legal education for the State Bar of California She presently teaches
                                    business
                                    professionals negotiation and mediation in the Conflict Resolution Department of the
                                    University of California, Irvine. She also presents transformational training
                                    programs for
                                    companies and governmental agencies. As a privacy expert, Mari has testified many
                                    times in
                                    congress, and has appeared on dozens of national television shows including <b>48
                                        Hours,
                                        Dateline, NBC and CBS evening news, CNN</b> and has been featured in the
                                    <i><b>Wall St.
                                            Journal, the New York Times, the LA Times, US News and World Reports, USA
                                            Today </b></i>and
                                    more. She&#146;s been interviewed on over 250 radio shows and is the host of her own
                                    radio
                                    show &quot;Privacy Piracy &quot;on KUCI 88.9 FM in Irvine www.kuci.org. Mari&#146;s
                                    own 90
                                    Minute PBS television special &quot;Protecting Yourself in the Information Age&quot;
                                    aired
                                    nationally in 2005.</font>
                            </p>
                            <p ALIGN="JUSTIFY">
                                <font face="Times New Roman" size="3">Ms. Frank uses a variety of
                                    &quot;solutioneering&quot; techniques in her career as a mediator, privacy expert,
                                    and
                                    author. Please visit her other websites at <a href="http://www.identitytheft.org/"
                                        onclick="NewWindow(this.href,'name','640','480','yes');return false"><b>www.identitytheft.org</b></a>
                                    and <b><a href="http://www.kuci.org/privacypiracy"
                                            onclick="NewWindow(this.href,'name','640','480','yes');return false">www.kuci.org/privacypiracy</a>.&nbsp;
                                    </b>
                                </font>
                            </p>


                        </div>
                        <p><b><a href="contact.html">Contact</a>
                                <font color="#800000"> Mari
                                    Frank today for a free consultation. </font>
                            </b>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<router-outlet></router-outlet>