<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Articles
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <blockquote>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Divorce
              articles</font>
        </b></p>
        <p align="justify"><a href="http://www.divorcemag.com/CA/index.shtml" onclick="NewWindow(this.href,'name','640','480','yes');return false"><img src="images/logo-dm.gif" width="100" height="33" alt="logo-dm.gif (3693 bytes)" align="right"
              border="0"></a>
          <font face="Times New Roman" size="3">These articles were
            published in <a href="http://www.divorcemag.com/CA/index.shtml" onclick="NewWindow(this.href,'name','640','480','yes');return false">Divorce Magazine</a>
            <font face="Times New Roman" size="3"> and are reproduced here with their full permission. </font>
        </p>
        <ul>
          <li>
            <font face="Times New Roman" size="3"><a href="article-negotiating.html">How to Negotiate
                a Successful Relationship Agreement </a></font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="article-managinganger.html">Managing the
                Anger of Divorce </a></font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="article-peacefuldivorce.html">Peaceful
                Divorce </a></font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="article-mediationbarriers.html">Mediation
                Barriers: &quot;Failure to disclose important information&quot;</a></font>
          </li>
        </ul>
        <p align="justify">
          <font face="Times New Roman" size="3" color="#800000"><strong>Mediation
              articles </strong></font>
        </p>
        <ul>
          <li><a href="article-legalpad.html">
              <font face="Times New Roman" size="3">Bring More to
                Negotiations Than Just a Legal Pad<br>
              </font>
            </a>
            <font face="Times New Roman" size="2">&nbsp; - Orange County Business Journal,
              February 1, 1993</font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="article-hostility.html">How To Deal With
                Hostility During Heated Negotiations<br>
              </a></font>
            <font face="Times New Roman" size="2">&nbsp; - Los Angeles Daily Journal and
              San Francisco Daily Journal, Friday September 16, 1994</font>
          </li>
          <li><a href="article-lawsuits.html">Keep Lawsuits Out of Your Company's Closet</a></font>
            <font face="Times New Roman" size="3">
          </li>
          <li>How to Win Your Case Through Mediation</li>
          <li>
            <font face="Times New Roman" size="3">Mediation Can Be the Panacea for Conflicts in
              Commerce <br>
            </font>
            <font face="Times New Roman" size="2">&nbsp; - Los Angeles Daily Journal, December
              10, 1992</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Negotiation - the key to ending the battle of the
              sexes</font><br>
            <font face="Times New Roman" size="2">&nbsp; - Orange County Lawyer</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Turning Disagreements into Solutions</font><br>
            <font face="Times New Roman" size="2">&nbsp; - Laguna Niguel News, May 4, 1995</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Lawyer Coaching - Empowering the Pro Per</font><br>
            <font face="Times New Roman" size="2">&nbsp; - The Informer, July 1994</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Trainer Spotlight</font><br>
            <font face="Times New Roman" size="2">&nbsp; - The Mediator, Summer 1996</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">March Mediation Madness</font><br>
            <font face="Times New Roman" size="2">&nbsp; - Orange County Lawyer, March 1992</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Dealing with Gender Differences</font><br>
            <font face="Times New Roman" size="2">&nbsp; - The Holistic Advocate, Spring 1996</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Orange County Lawyer cover</font><br>
            <font face="Times New Roman" size="2">&nbsp; - Orange County Lawyer, March 1994</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">State Bar Promotes Mediation as a Method of the
              Future</font><br>
            <font face="Times New Roman" size="2">&nbsp; - Orange County Lawyer, Spring 1994</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">The Joys of Mediation</font>
            </font>
          </li>
        </ul>
      </blockquote>

    </div>
  </div>
</div>
