<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Contact Us
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <blockquote>
        <p align="justify">
          <font face="Times New Roman" size="3">For more information please
            contact:</font>
        </p>
        <p align="justify">
          <font face="Times New Roman" size="3">Mari J. Frank, Esq.<br>
            Attorney, Mediator, Author, Professional Speaker<br>
            28202 Cabot Road, Suite 300<br>
            Laguna Niguel, California 92677 <br>
            Phone: (949) 364-1511<br>
            Fax: (949) 363-7561<br>
            Email: Mari@MariFrank.com<br>
            <a href="index.html">www.MariFrank.com</a> <br>
            <a href="http://www.identitytheft.org/">www.Identitytheft.org</a>&nbsp; <br>
            <a href="http://www.kuci.org/privacypiracy/">www.kuci.org/privacypiracy/</a> <br>
            &nbsp; </font>
        </p>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form target="_blank" action="http://marifrank.com/process-contact.php" method="post" onsubmit="return FrontPage_Form1_Validator(this)" name="FrontPage_Form1">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-3">
              Your Name:
            </div>
            <div class="col-9">
              <input name="Name" type="text" size="60" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              Your E-Mail Address:
            </div>
            <div class="col-9">
              <input name="Email" type="text" size="60" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              Your Organization:
            </div>
            <div class="col-9">
              <input onfocus="this.value=''" name="Organization" type="text" size="60" value="Optional" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              Comments:
            </div>
            <div class="col-9">
              <textarea onfocus="this.value=''" name="Comment" rows=5 cols=70>
                Please replace this with your comments
              </textarea>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-2">
              <input type="submit" value="Submit" />
            </div>
            <div class="col-2">
              <input type="reset" value="Clear" />
            </div>
            <div class="col-2">
              <input name="_recipients" type="hidden" value="mari@marifrank.com" />
              <input name="_subject" type="hidden" value="marifrank.com Feedback" />
              <input name="_replyToField" type="hidden" value="Email" />
              <input name="_fieldOrder" type="hidden" value="Name,Email,Organization,Comment" />
              <input name="_requiredFields" type="hidden" value="Name,Email,Comment" />
              <input name="_redirect" type="hidden" value="" /> <!-- Enter a page to redirect them to after they submit in the quote -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
