<td valign="top" align="center">
  <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td background="images/bkgd-content1.gif" height="99" valign="bottom"><b>
          <h2 ALIGN="CENTER">
            <font face="Times New Roman" color="#800000"><strong>Family Mediation</strong></font>
        </b></h2>
      </td>
    </tr>
    <tr>
      <td>
        <blockquote>
          <p align="justify"><b>
              <font color="#800000" face="Times New Roman" size="3">Compassionate
                approach that empowers you</font>
          </p>
          </b>
          <p align="justify">
            <font face="Times New Roman" size="3">Ms. Frank&#146;s reassuring,
              compassionate approach builds trust in her and the process. There is no growth in
              repressing your feelings. Going through divorce is painful at times, but conflict presents
              an opportunity for enlightenment, so clients move beyond the anger to arrive at a fair
              settlement. She demonstrates her commitment to positive growth by the physically pleasing
              environment she creates. She guides the parties to explore various solutions to
              challenging issues. You will be educated &#150; not to overpower the other party, but to
              empower yourself to ask for what you want in a manner that will influence your spouse to
              be agreeable.</font>
          </p>
          <b>
            <p align="justify">
              <font color="#800000" face="Times New Roman" size="3">Protecting
                your privacy and confidentiality</font>
            </p>
          </b>
          <p align="justify">
            <font face="Times New Roman" size="3">As author of Safeguard Your
              Identity, Ms. Frank has a keen consciousness about the need to keep sensitive information
              out of the public eye. Identity theft is the fastest-growing crime in America. Although
              you have a fiduciary duty to reveal all financial information during divorce, you
              shouldn&#146;t have to make your confidential information a public record in court
              proceedings for the world to see! </font>
          </p>
          <b>
            <p align="justify">
              <font color="#800000" face="Times New Roman" size="3">What to expect
                in mediation
          </b> </font>
          </p>
          <ul>
            <li>
              <font face="Times New Roman" size="3">Initial contact with disputing parties. (Usually
                one party contacts the mediator, and mediator provides written letter outlining process of
                mediation to all parties.)</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Telephone conference with clients (and attorneys,
                if any) to explain process, and set up appointment, and secure retainer.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Opening session-explanation of process.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Confidentiality Agreement.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Ground rules established my mediator, parties (and
                counsel of record).</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Identify problems, issues, and interests.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Strategy to guide mediation explained.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Gathering of all information and facts to analyze.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Define and prioritize issues and set agenda for
                settlement.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Building of trust and cooperation. Expectations
                exchanged.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Plaintiff (complaining party) presents issues,
                facts, and positions.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Defendant presents issues, facts, and positions.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Mediator narrows issues with help of parties
                (Caucus may begin here).</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Focus on objective criteria and documents.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Mediator restates problems in terms of all
                relevant information and facts.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Mediator uncovers hidden interests of disputing
                parties. (Open session and/or closed session caucusing.)</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Parties assess options for settlement. (Caucusing
                may occur at several times.)</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Final bargaining of each issue.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Final settlement negotiations after all issues,
                resolved, or partial settlement of various issues.</font>
            </li>
            <li>
              <font face="Times New Roman" size="3">Preparation of the agreement together and
                preparing for all contingencies. (Building in dispute resolution procedures).</font>
            </li>
          </ul>
          <strong>
            <p align="justify">
          </strong>
          <font face="Times New Roman" size="3">See a flyer on <a href="flyer-divorce.pdf">Divorce mediation</a>.</font><strong></p>
          </strong>
          <p align="justify"><img src="images/divmagcover.jpg" width="200" height="145" alt="divmagcover.jpg (16164 bytes)" align="right"><strong>
              <font color="#800000" face="Times New Roman" size="3">FREE Divorce Magazine and Divorce Guide</font>
            </strong></p>
          <p align="justify">
            <font face="Times New Roman" size="3">Complimentary copies of
              California Divorce Magazine and Divorce Guide are available at our office. Divorce
              Magazine provides individuals and families who are going through the transition of
              separation and divorce with information, support, and guidance. We are here to help make
              your dissolution process humane, civilized, and compassionate.</font>
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
