<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Frequently Asked
              Questions in Divorce
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">


      <blockquote>
        <p align="justify"><a href="http://www.divorcemag.com/CA/index.shtml" onclick="NewWindow(this.href,'name','640','480','yes');return false"><img src="images/logo-dm.gif" width="100" height="33" alt="logo-dm.gif (3693 bytes)" align="right"
              border="0"></a>
          <font face="Times New Roman" size="3">These faqs were
            published in <a href="http://www.divorcemag.com/CA/index.shtml" onclick="NewWindow(this.href,'name','640','480','yes');return false">Divorce Magazine</a>
            <font face="Times New Roman" size="3"> and are reproduced here with their full permission. </font>
        </p>
        </font>
        <a name="video"></a><img src="images/icon_videofaq.gif" width="130" height="13" alt="icon_videofaq.gif (866 bytes)">
        <font face="Arial" size="2">
          <ul>
            <li>
        </font>
        <font face="Times New Roman" size="3">
          <a href="https://www.youtube.com/watch?v=_B89jCuzMZo" target="_blank">
            &quot;As a mediation professor, tell us what is most important in the process.&quot;</a> </font>
        </li>
        <li>
          <font face="Times New Roman" size="3">
            <a href="https://www.youtube.com/watch?v=vXCVJBV0fJw" target="_blank">&quot;Why
              should divorcing couples consider mediation?&quot;</a> </font>
        </li>
        <li>
          <font face="Times New Roman" size="3">
            <a href="https://www.youtube.com/watch?v=MJ-KiU4-3_4" target="_blank">&quot;What
              is the difference between confidentiality and privacy , and why is it important?&quot;</a>
          </font>
        </li>
        <li>
          <font face="Times New Roman" size="3">
            <a href="https://www.youtube.com/watch?v=l4zE4zznitY" target="_blank">&quot;What
              are the most important attributes of an effective divorce mediator?&quot;</a> </font>
        </li>
        <li>
          <font face="Times New Roman" size="3">
            <a href="https://www.youtube.com/watch?v=DzuHO62hsOU" target="_blank">&quot;How
              can you learn about divorce mediation?&quot;</a> </font>
        </li>
        </ul>


        <hr>
        <ul>
          <li><a href="faq-complexissues.html">
              <font face="Times New Roman" size="3">&quot;If a divorce
                involves complex issues, can you use a mediator?&quot;</font>
            </a></li>
          <li>
            <font face="Times New Roman" size="3"><a href="faq-financialaspects.html">&quot;I'm not
                certain my lawyer has a good handle on the financial aspects of my divorce. What should I
                do?&quot;</a></font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="faq-maidenname.html">&quot;Should I change
                my name back to my maiden name?&quot;</a></font>
          </li>
          <li><a href="faq-privacy.html">
              <font face="Times New Roman" size="3">&quot;How can I maintain
                confidentiality and financial privacy in my divorce?&quot;</font>
            </a></li>
        </ul>

      </blockquote>
    </div>
  </div>
</div>
