<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Useful Links
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <blockquote>
        <ul>
          <li>
            <font face="Times New Roman" size="3"><strong><a href="http://www.identitytheft.org/">Identity
                  Theft Prevention and Survival</a></strong> <br>
              Mari's Identity Theft site with additional links to useful information, Mari's Books and CDs.
            </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><strong><a href="http://www.kuci.org/privacypiracy/">Mari&#146;s public affairs radio show at the
                  University of California, Irvine</a></strong><br>
              Visit with Mari and her informative guests each Wednesday afternoon from 5 to 6 PM.
            </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><strong><a href="http://www.divorcemag.com/CA/pro/mfrank.shtml">DivorceMagazine.com </a></strong><br>
              Comprehensive site with articles and advice for those who are divorced, separated or
              considering a divorce. Includes listings of divorce-related professionals and web sites. </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="http://www.aamft.org/"><strong>American
                  Association for Marriage and Family Therapy (AAMFT)</strong></a><br>
              The professional association for the field of marriage and family therapy. </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="http://www.mediate.com/"><strong>The
                  Mediation Information &amp; Resource Center</strong><br>
              </a>Covers every aspect of mediation, from articles to conference listing and a North
              America-wide database of mediators. </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="http://www.calbar.org/"><b>CalBar</b></a><br>
              The state bar of California website for legal professionals and referrals. </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="http://www.divorcesource.com/webcartd/dmgz.shtml"><b>Divorce Products<br>
                </b></a>For quick and easy access to quality books, manuals, divorce forms, settlement
              agreements and other divorce related products. </font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><strong><a href="http://www.divorcemag.com/CA/support/index.shtml">Parents without Partners<br>
                </a></strong>A non-profit, educational organization whose objective is to provide
              understanding and mutual.<a href="http://www.divorcemag.com/CA/support/index.shtml"> </a></font>
          </li>
          <li>
            <font face="Times New Roman" size="3"><a href="http://www.divorcemag.com/statistics/statsUS.shtml"><strong>US Divorce Statistics</strong>
              </a></font>
          </li>

        </ul>
      </blockquote>

    </div>
  </div>
</div>
