<td valign="top" align="center" style="background-repeat: no-repeat" background="images/bkgd-content.gif">
  <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <font SIZE="4">&nbsp;<p ALIGN="CENTER">
            <h2 ALIGN="CENTER"><b>
                <font face="Times New Roman" color="#800000"><strong>Offerings and Services</strong></font>
              </b></h2>
          </p>
        </font>
        <blockquote>

          <p align="justify">
            <font face="Times New Roman" size="3">



              <h3>OTHER OFFERINGS:</h3>
              <h4>PRODUCT PURCHASE </h4>
              <UL>
                <LI>Purchase Porpoise Press Products and Educational Materials.</LI>
              </UL>

              <h4>PRODUCT LICENSE</h4>
              <UL>
                <LI>License Porpoise Press Products</LI>
                <LI>License Portions of Porpoise Press Products</LI>
                <LI>License for New Material with Copyright Owned by Mari Frank</LI>
              </UL>
              <h4>JOINT PRODUCT PROMOTION CAMPAIGN</h4>
              <UL>
                <LI>Joint Sponsor / Porpoise Press Product Promotions And Advertising Campaign</LI>
              </UL>
              <h4>RADIO SHOW SPONSOR</h4>
              <UL>
                <LI>Become a Sponsor For Mari J. Frank's Weekly Radio Show On Privacy Concerns- Privacy Piracy - presently tax deductible donation to KUCI- University of Ca. Irvine</LI>
              </UL>

              <h4>LOBBYIST SERVICE</h4>
              <UL>
                <LI>Retain Mari J. Frank To Perform Lobbyist Function In Support Of New Privacy Legislation</LI>
              </UL>
              <h4>NEW PRODUCT DEVELOPMENT SERVICE</h4>
              <UL>
                <LI>Retain Mari J. Frank To Provide New Privacy Product Development Services</LI>
              </UL>
              <h4>TRAINING SERVICE</h4>
              <UL>
                <LI>Retain Mari J. Frank To Provide Training On Privacy Issues</LI>
              </UL>
              <h4>PROFESSIONAL SPEAKING</h4>
              <UL>
                <LI>Retain Mari J. Frank To Appear As A Keynote Speaker/Trainer/ and at Press Conferences /Trade Shows/Promotional Events</LI>
              </UL>
              <h4>LEGAL CONSULTING AND EXPERT WITNESS FOR DEPOSITION AND TRIAL</h4>

              <h4>INVESTMENT </h4>

              <h3>PROFESSIONAL SERVICES</h3>
              <h4>SPOKESPERSON LIVE APPEARANCES</h4>
              <UL>
                <LI>Request quotes for Key Note, Half Day, Full Day </LI>
              </UL>

              <h4>SPOKESPERSON PROFESSIONAL TIME</h4>
              <UL>
                <LI>Radio And Television Interviews (local)</LI>
                <LI>Appearance in Court, Deposition and Legislative Hearings</LI>
                <LI>Facilitation of Meetings</LI>
              </UL>
              <h4>SPOKESPERSON PREPARATION ACTIVITIES</h4>
              <UL>
                <LI>Project Planning/Telephone Appointments</LI>
                <LI>Research</LI>
                <LI>Material Development/Review/Preparation</LI>
              </UL>
              <h4>AUTHORSHIP ACTIVITIES</h4>
              <UL>
                <LI>Flat Fee Negotiable or Hourly Rate</LI>
              </UL>
              <h4>SECRETARIAL SUPPORT</h4>
              <UL>
                <LI>Scheduling</LI>
                <LI>Coordination/Arrangements</LI>
                <LI>Material Preparation</LI>
              </UL>
              <h4>TRAVEL TIME</h4>
              <UL>
                <LI>Billed at one-half the Hourly Rate Depending on Activity </LI>
              </UL>
              <h3>DIRECT EXPENSES</h3>
              <h4>PAID DIRECTLY BY CLIENT COMPANY</h4>
              <UL>
                <LI>All Advertising And Promotion Development/Production/Rollout Expenses</LI>
                <LI>All Public Relations And Media Agent Expenses</LI>
                <LI>Mass Reproduction Of Project Related Materials (e.g. educational booklets)</LI>
                <LI>All Public Engagement Related Expenses (e.g. conference, trade show)</LI>
                <LI>All Spokesperson Travel, Accommodations, Rental Car Expenses, parking, mileage, etc.</LI>
              </UL>
              <h4>CLIENT COMPANY INVOICED AT COST</h4>
              <UL>
                <LI>Telephone/Fax/Postage Expenses</LI>
                <LI>Mileage ($.35 per mile)/Parking Expenses</LI>
                <LI>Project/Presentation Material Development/Production Expenses</LI>
              </UL>
              <h3>PAYMENT SCHEDULE</h3>
              <UL>
                <LI>Upon booking there is a required deposit of 50% of agreed fee for (except Expert Witness Services which are outlined in the Expert Witness Agreement available on request.)</LI>
                <LI>Monthly Pre-Payment Of 50% of Fees Planned Per Diem Live Appearance Activities Against Which Professional Services and Direct Expenses for the Month will be Invoiced</LI>
                <LI>Monthly Fees Incurred Above the Pre-Payment Amount will be Invoiced at Month-End</LI>
                <LI>Monthly Invoices To Be Paid Within Upon Receipt by Check or Credit Card (VISA, MasterCard)</LI>
                <LI>Invoices Unpaid After 15 Days Will Incur a 1.5% Interest Charge that will Compound for Each Subsequent 30-Day Period</LI>
              </UL>
              <h3>AUDIO AND VIDEO RECORDING</h3>
              <UL>
                <LI>Any non- profit, non-commercial, distribution within your organization is permitted,
                  after a master copy of such recording is supplied to and approved by Mari J. Frank.
                  Profit seeking distribution of recordings or written materials requires a separate,
                  written royalty agreement. For sales of audio recordings $.50 per tape or CD,
                  and $2.50 per video or CD. For television or radio commercials the agreement is
                  to be negotiated as to commercial use.</LI>
              </UL>



            </font>
          </p>


        </blockquote>
      </td>
    </tr>
  </table>
