<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Photo Gallery
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

              <blockquote>
                <p align="center">
                  <font face="Times New Roman" size="3">Click on the following pictures to open a larger view: </font>
                </p>

                <p align="center"><img src="Photo_Gallery/Mari_speak_at_whitehouse_Thumb.jpg" border="0" usemap="#Map7"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Mari gives speech at the White House
                    </font>
                  </p>
                </b>
                <br>
                <p align="center"><img src="Photo_Gallery/mari_at_WhitehouseThumb.jpg" border="0" usemap="#Map6"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Mari introduces the President after her speech at the White House
                    </font>
                  </p>
                </b>
                <br>

                <p align="center"><img src="Photo_Gallery/Seminar_photo_Thumb.jpg" border="0" usemap="#Map"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Seminar photo- Mari presents 90 Minute PBS TV Special
                    </font>
                  </p>
                </b>
                <br>

                <p align="center"><img src="Photo_Gallery/mari_on_NPR_3_05_Thumb.jpg" border="0" usemap="#Map2"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Mari giving live interview on NPR
                    </font>
                  </p>
                </b>
                <br>
                <p align="center"><img src="Photo_Gallery/foxmewsreadyThumb.jpg" border="0" usemap="#Map3"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Mari getting ready for Fox News interview
                    </font>
                  </p>
                </b>
                <br>
                <p align="center"><img src="Photo_Gallery/Mari_and_Greg_on_PBSThumb.jpg" border="0" usemap="#Map4"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Mari with host Greg Sherwood- on PBS TV San Francisco
                    </font>
                  </p>
                </b>
                <br>
                <p align="center"><img src="Photo_Gallery/Mari_and_Sargeant_Jim_Daily_OC_Fair_04_Thumb.jpg" border="0" usemap="#Map5"></p>
                <b>
                  <p align="center">
                    <font color="#800000" face="Times New Roman" size="3">Sheriff Reserve Mari with Sargent James Daily working at the Orange County Fair
                    </font>
                  </p>
                </b>




              </blockquote>

    </div>
  </div>
</div>
