<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Privacy Consultant
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <blockquote>
        <p align="center">
          <font color="#0000ff" face="Arial" size="4"><a href="PressReleasePorpoisePress.pdf" target="_blank">FOR IMMEDIATE RELEASE</a></FONT>
        </p>
        <p align="justify">
          <font face="Times New Roman" size="3">
            Mari Frank, attorney and privacy consultant, is the creator of The Identity Theft
            Survival Kit, the audiocassette series Identity Theft Prevention and Survival,
            co-author of Privacy Piracy (with Beth Givens), and the author of two new books
            published by Porpoise Press (January 2005): From Victim to Victor: A Step by Step
            Guide for Ending the Nightmare of Identity Theft (2nd Edition, with CD) and Safeguard
            Your Identity: Protect yourself with a Personal Privacy Audit. Mari is also the host
            of Privacy Piracy a weekly one hour radio show at KUCI 88.9 FM and
            <a href="http://www.kuci.org/privacypiracy" target="_blank">www.kuci.org/privacypiracy</a> ( at the University of California, Irvine campus)
            dealing with issues of privacy in the information age.
            <br><br>
            <table align="center" border="0">
              <tr valign="top">
                <td valign="middle"><img class="img-fluid" align="left" src="images/Index_clip_image001.gif" width="300" height="209" alt=""></td>
                <td valign="middle">
                  <div style="font-size: 13; color: #000000; font-family: Arial; font-weight: Bold" align="right">Host: Mari Frank</div>
                  <img class="img-fluid" src="images/catalinadinner.jpg" width="261" height="200" alt="">

                  <div style="font-size: 13; color: #000000; font-family: Arial; font-weight: Bold">Co-host/Engineer: Lloyd Boshaw</div>

                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div align="center">
                    <strong style="color: #bb0511; font-family: Arial; font-size: 20">Protect Your Privacy in the Information Age</strong><br>
                    <strong style="color: #4381ca; font-family: Arial; font-size: 16">Now on every WEDNESDAY afternoon from 5-6 PM LIVE, Pacific Time</strong>
                    <br><strong style="color: #4381ca; font-family: Arial; font-size: 16">on 88.9 FM in Irvine </strong>
                    <br><strong style="color: #4381ca; font-family: Arial; font-size: 16">and WORLDWIDE live audio streaming at <a name="www.kuci.org" id="www.kuci.org" href="http://www.kuci.org/" target="_blank">www.kuci.org</a></strong>
                    <br><strong style="color: #4381ca; font-family: Arial; font-size: 16">Call in during the show: 949-UCI-KUCI OR 949-824-5824 </strong>
                  </div>
                </td>
              </tr>
            </table>
            <br><br>

            Ms. Frank has testified many times on privacy and identity theft issues in the
            California legislature and in the US Congress. In May 1999, she was summoned to
            the White House to a press conference with President Clinton to speak on Consumer
            Privacy. Her speech was broadcast on C-SPAN TV. This year, Mari's 90 minute PBS
            Television special, "Identity Theft: Protecting Yourself in the Information Age,"
            aired nationwide. Both of her new books were featured gifts for viewers who pledged
            support for local PBS stations.
            <br><br>
            Mari consults with corporations and government agencies and provides professional
            training programs. She also helps victims and consumers, and serves on the Identity
            Theft Task Force of the LA County District Attorney, and California's DMV Task Force
            on privacy. She's an Orange County Sheriff Reserve on the High Tech Crime Unit, an
            Advisory Board Member of the Identity Theft Resource Center and the Privacy Rights
            Clearinghouse. Mari is also a research fellow with the Ponemon Institute on Privacy
            Issues. She was appointed to the State of California's Advisory Board of the Office
            of Privacy Protection. Mari is a certified trainer for the State Bar of California, a
            law professor, and currently teaches Conflict Management at the University of
            California, Irvine. She serves on the National Advisory Board of Divorce Magazine.
            <br><br>
            Mari has appeared on dozens of <a href="SelectedMediaExperience.pdf" target="_blank">national TV programs</a> including Dateline, 48 Hours,
            the O'Reilly Factor, Investigative Reports, NBC and ABC Nightly News, CNN, and has
            been interviewed on more than 250 radio shows. She has been featured myriad times in
            major newspapers and magazines, (US News and World Report, Your Money Magazine, Money,
            Parade Magazine, The New York Times, The Wall St. Journal, USA Today, The Chicago
            Tribune, The LA Times, etc) and her many articles have been published in legal journals
            such as the <a
              href="http://calbar.ca.gov/state/calbar/calbar_cbj.jsp?sCategoryPath=/Home/Attorney%20Resources/California%20Bar%20Journal/December2004&amp;sCatHtmlPath=cbj/2004-12_TH_02_Identitiy-theft.html&amp;sCatHtmlTitle=Top%20Headlines"
              target="_blank">California Bar Journal</a> and numerous magazines. Please learn more by visiting <a href="http://www.identitytheft.org/" target="_blank">www.identitytheft.org</a>,
            <a href="http://www.kuci.org/privacypiracy/" target="_blank">www.kuci.org/privacypiracy/</a> and <a href="index.html" target="_blank">www.MariFrank.com</a>

          </font>
        </p>
        <h3>SERVICES: </h3>
        <h4>RETAIN MARI J. FRANK, ESQ. PRIVACY AND IDENTITY THEFT EXPERT </h4>
        <UL>
          <LI>To Consult as to Privacy Policies, Identity Theft and Data Protection </LI>
          <LI>To Train Staff and provide Key Note Speaking</LI>
          <LI>To Provide Expert Advice- to help companies, and agencies </LI> reduce legal exposure, protect employees, clients and customers.
          <LI>To Cooperate with Security Departments in Directing Privacy Audits</LI>
          <LI>To Promote Products and Provide Consumer Education About Privacy Issues</LI>
          <LI>To Develop and Author Privacy Products and Identity Theft Prevention Products</LI>
          <LI>For Professional Speaking Engagements</LI>
          <LI>To Facilitate Consumer Council and Advisory Meetings</LI>
          <LI>To Facilitate Consumer/Industry/Governmental Agency Related Meetings</LI>
          <LI>To Provide Legislative Testimony Regarding Privacy and Identity Theft Issues</LI>
          <LI>To Interface with Law Enforcement and Industry Leaders</LI>
          <LI>To Serve as Expert Witness in Privacy and Identity Theft Cases</LI>
        </UL>
        <h3>ACTIVITIES:</h3>
        <h4>CLIENT COMPANY REPRESENTATION SERVICES</h4>
        <UL>
          <LI>Television, Radio, Internet, Newspaper, Magazine Interviews</LI>
          <LI>Television, Radio, Printed and Electronic Advertisements/ Educational Articles</LI>
          <LI>Public Promotional Engagements</LI>
          <LI>Participation In Development/Advocacy of New Legislation</LI>
          <LI>Professional Speaking and Testimony</LI>
          <LI>Facilitation of Meetings</LI>
        </UL>
        <h3>BENEFITS:</h3>
        <h4>MARI J. FRANK, ESQUIRE - PRIVACY CONCERNS EXPERT</h4>
        <UL>
          <LI>National Spokesperson on Privacy Concerns and Protection Against Identity Theft</LI>
          <LI>Hosted and provided seminar for Television Special- PBS- On Identity Theft</LI>
          <LI>Recognized Author of Privacy Concern Information Products</LI>
          <LI>Recognized Expert by Media, Courts, Law Enforcement, etc.</LI>
          <LI>Vast Media Exposure and Professional Contacts</LI>
          <LI>Access to Leading Industry Experts in Business, Government, Trade Organizations</LI>
          <LI>Experienced Lawyer, Professional Speaker, Educator, Law Professor and Author</LI>
          <LI>Proactive Legislative Involvement at the State and National Level</LI>
          <LI>Successful Legal and Mediation and Facilitation Practice </LI>
          <LI>Recognized Expert Witness for Privacy and Identity Theft Cases</LI>
          <LI>Respected Sheriff Reserve Deputy with the High Tech Crime Unit</LI>
          <LI>Extensive Experience as Trainer and Professional Speaker at Numerous Legal, Law Enforcement and Consumer Conferences</LI>
          <LI>Key Notes Speeches and Training Programs.</LI>
          <LI>Task Force Leader for Identity Theft - (Los Angeles, and Orange County, CA)</LI>
          <LI>Advisory Board Member -State Of California, Office of Privacy Protection</LI>
          <LI>Advisory Board Member the Privacy Rights Clearinghouse.</LI>
          <LI>Advisory Board- Identity Theft Resource Center</LI>
        </UL>
        <h3>OPTIONS:</h3>
        <h4>CUSTOMIZED SERVICE ARRANGEMENTS TAILORED TO MEET CLIENT NEEDS</h4>
        <UL>
          <LI>Joint Venture </LI>
          <LI>Strategic Alliance with Multiple Sponsors</LI>
          <LI>Exclusive Arrangement</LI>
          <LI>Hourly Consulting Arrangement</LI>
          <LI>Flat Fee for Spokesperson Arrangement</LI>
          <LI>Flat fee for Authorship</LI>
          <LI>Flat Fee for Training and Key Notes</LI>
        </UL>


      </blockquote>

    </div>
  </div>
</div>
