<td valign="top" align="center">
  <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td background="images/bkgd-content1.gif" height="99" valign="bottom"><b>
          <h2 ALIGN="CENTER">
            <font face="Times New Roman" color="#800000"><strong>Web Site Privacy
                Policy</strong></font>
        </b></h2>
      </td>
    </tr>
    <tr>
      <td>
        <blockquote>
          <p>
            <font face="Times New Roman" size="3">Your privacy is very important to us, and we
              respect and honor your concerns about maintaining strict privacy. Any information that you
              divulge to this web site is kept in strict confidence.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">We want to be very clear &#150;
              we will not obtain personal identifying information about you when you visit our site,
              unless you choose to provide such information to us through e-mail or by ordering our
              products on line.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">We do not add you to our mailing
              list unless you explicitly request to receive additional information from us. We will not
              sell, rent or share our mailing lists. We keep our own mailing list of people, who contact
              us, so we may provide information to you in the future. However, we do not provide this
              list to anyone else. When we collect information when you purchase our materials, we do
              not share that information with anyone else - we keep it in strict confidence.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">We do not enable cookies and we
              do not collect personal identifiable information at our web site, unless you choose to
              give it to us. Even when you choose to give us information, we keep that confidential as
              to our own purposes.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">If you wish to e-mail us with
              your questions or concerns, we will keep that information private. If you are comfortable
              in allowing us to share that information with any other attorney or mediator to help you,,
              we will always ask you first, and will abide by your wishes and not divulge information
              that you do not wish us to share. You are in control of what information you provide to us
              and we do not make that information made known to anyone else, unless you specifically
              allow us to do so with permission.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">Our server only collects
              information about the date and time in which our web site was accessed and the Internet
              address of the web site from which you linked to our site. We use this information to
              measure the number of visitors to our site and to help make our site more useful to
              visitors.</font>
          </p>
          <p align="justify">
            <font face="Times New Roman" size="3">If you have any questions or
              concerns about our privacy protection of your personal information, please feel free to
              contact us.</font>
          </p>
        </blockquote>
      </td>
    </tr>
  </table>
