<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              About Mari J. Frank, Esq.
            </strong></font>
      </h2></b>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 order-lg-12">
      <div class="embed-responsive embed-responsive-4by3">
        <video controls autoplay muted class="embed-responsive-item">
          <source src="http://stage.podcastnowstudio.com/divorcemag/la_final/WMV/mari/mari_intro.wmv" type="video/mp4">
          <font face="Times New Roman" size="2">
            If the above embeded video does not play due to your computer security, please <a href="http://stage.podcastnowstudio.com/divorcemag/la_final/WMV/mari/mari_intro.wmv">click here.</a>
          </font>
        </video>
      </div>
    </div>
    <div class="col-12 col-lg-6 my-auto">
      <ul>
        <li>
          <font face="Times New Roman" size="3">Attorney/Mediator</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Certified Information Privacy Professional </font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Professor, Dispute Resolution</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Professional Speaker/Trainer (Privacy, Conflict Resolution)</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Corporate Consultant, Conflict Management, Information Privacy, Ombudsman</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Certified Trainer, State Bar of California</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Published Author</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Radio Talk Show Host</font>
        </li>
        <li>
          <font face="Times New Roman" size="3">Media Commentator: Television, Radio, and Print Media</font>
        </li>

      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <p align="justify">
        <font face="Times New Roman" size="3">Mari Frank is an attorney, mediator, certified information privacy professional
          (CIPP), author, professor, and radio show host in private practice in Laguna Niguel, California. She has worked in the District Attorney's
          Office, practiced insurance defense law, and has had a general civil law practice. She has successfully resolved thousands of disputes as a
          neutral since 1985. Prior to becoming an attorney, Ms. Frank was a university professor, educational consultant, school district
          administrator, and elected school board member. She received her BA from the University of Wisconsin (Madison), her Masters Degree
          from Hofstra University, and Law Degree from Western State University College of Law. She received her post law school negotiation
          and mediation certification from Mc George School of Law, Harvard Law School, and Pepperdine Law School.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">Ms. Frank was the founding President of the Orange County Chapter of the Society
          for Professionals in Dispute Resolution-Orange County. She served for three years as founding Chair of the State Bar of California
          Alternative Dispute Resolution Committee of the Legal Services Section. She presently is appointed as a member of the Civil Mediation
          Panel for the Orange County Superior Court. She also serves as a mediator for the Arbitration and Mediation Fee Disputes for the Orange
          County Bar Association. Ms. Frank has taught hundreds of law students as a law professor, and thousands of attorneys as a certified
          trainer for continuing legal education for the Bar. Since 2003, she has been teaching negotiation, mediation and conflict resolution
          at the University of California, Irvine. Prior to 2003, she was an adjunct professor at Western State University School of law for
          eight years.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">Ms. Frank served on the Mediation Advisory Board for the Irvine office of
          the American Arbitration Association. She was President of the Orange County Society for Professionals in Dispute Resolution, Chair
          of the first ADR Court Diversion Program of the Orange County Bar Association, and served on the first board of the Southern California
          Mediation Association. Ms. Frank is Chair of the Advisory Board of the Orange County Mediation Conference Committee and serves on the
          Mediation Conference Committee Executive Board. She is a member of the Orange County Bar Association ADR Committee. She also serves
          on the National Advisory Board of Divorce Magazine, and frequently writes articles for the magazine.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">Aside from her private practice, Ms. Frank serves as a neutral for the
          Franchise Arbitration and Mediation, Inc., Dispute Resolution Management, and the U.S. Federal Administrative Panel of Neutrals. She
          has authored a textbook <strong><em>Negotiation Breakthroughs</em></strong>, and many published articles/booklets dealing with conflict resolution. She is also
          co-author of <strong><em>Stepping Stones to Success</em></strong>. She is the radio host of "<strong><em>Prescriptions for Healing Conflict</em></strong>" on KUCI 88.9 FM in Irvine airing
          on Monday mornings at 8:30 A.M. and www.kuci.org. Ms. Frank consults and mediates for corporations, and also presents conflict transformational
          training programs for lawyers, governmental agencies, and business professionals. She has taught myriad participants to utilize effective
          "solutioneering" techniques to transform adversity into opportunities in reaching private, successful agreements and enhanced, superior
          relationships. Ms. Frank is a Certified Privacy Expert (Certified Information Privacy Professional) and provides consulting, training,
          and expert testimony on privacy issues nationwide.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">As a <strong>privacy expert</strong>, Ms. Frank has authored the <strong><em>Complete Idiot's Guide to Recovering
              from Identity Theft; the Identity Theft Survival Kit, From Victim to Victor; Safeguard Your Identity</em></strong> and co-Authored <strong><em>Privacy Piracy</em></strong> with
          Beth Givens, Director of the Privacy Rights Clearinghouse. She serves on the Executive Committee of Law Practice Management & Technology
          Section for the State Bar of California, and is on the Privacy sub-committee of that section.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">Ms. Frank has testified several times before the U.S. Senate and the California
          Legislature, the FTC, and the Social Security Administration. She gave a speech at the White House in 1999 with former President Bill Clinton
          that was televised on C-Span. She has been a Sheriff Reserve in Orange County, California since 2001, serves on the advisory board of the
          California Office of Privacy Protection, The Privacy Task Force for the California Department of Motor Vehicles, the Consumer Federation of
          America (DC), the Privacy Rights Clearinghouse, and for 12 years, she was an advisory to the Identity Theft Resource Center. She is a distinguished
          fellow for the Ponemon Institute, a respected research institute dedicated to promoting responsible information management.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">As a media commentator, she has appeared on <strong><em>The O'Reilly Factor, Dateline, NBC, 48 Hours,
              Montel, CNN, ABC Nightly News Investigative Reports</em></strong>, and dozens of other national television shows. She has been featured in the <strong><em>New York Times,
              LA Times, U.S. News and World Report, Your Money Magazine, Parade Magazine, The Wall Street Journal, The Washington Post</em></strong>, and dozens more national
          publications. Ms. Frank has been interviewed on over 350 radio shows, and has been the host of <strong><em>Privacy Piracy</em></strong> since 2005, which airs Monday
          mornings at 8:00 AM on KUCI, 88.9 FM at the University of California, Irvine. The show also audio streams at <a href="http://www.kuci.org/" target="_blank">www.kuci.org</a> at the same time
          and podcasts on iTunes. Ms. Frank hosted her own PBS television special entitled <strong><em>"Protecting Yourself in the Information Age"</em></strong> which aired
          nationally from 2005-2007.</font>
      </p>

      <p align="justify">
        <font face="Times New Roman" size="3">Ms. Frank uses a variety of "solutioneering" techniques as a mediator, legal
          advisor, privacy expert, professor, professional trainer, and expert witness. She has a unique expertise as a mediator of privacy and
          technology disputes.
          <br><br>
          Please visit her websites at:<br>
          <a href="index.html" target="_blank">www.marifrank.com</a><br>
          and her radio show websites at: <a href="http://www.kuci.org/privacypiracy" target="_blank">www.kuci.org/privacypiracy</a> <br>
          <a href="http://www.conflicthealing.com/" target="_blank">www.conflicthealing.com</a>



        </font>
      </p>
    </div>
  </div>
</div>
