<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              MCLE Trainer/Continuing Legal Education
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <blockquote>
        <img class="img-fluid" align="right" hspace="10" src="images/Frontofaudience6Wide.jpg" width="300" height="225" alt="">

        <p align="Left">
          <font face="Times New Roman" size="3">
            Mari J. Frank, Esq. has taught thousands of successful business professionals to master
            powerful <u>negotiation, mediation, and conflict prevention</u> techniques to turn difficult
            problems into satisfying and profitable solutions.
            <br><br>
            View some testimonials provided by seminar and training attendees:<br>

            <a href="DesertBarTestimonials.pdf" target="_blank">Desert Bar</a><br>
            <a href="OCAttorneysBergerKahnLawFirm.pdf" target="_blank">OC Attorneys Berger Kahn Law Firm</a><br>
            <a href="TestimonialsfromWSUAA.pdf" target="_blank">Western State University School of Law Alumni Training</a>
            <br><br>
            Below is a partial listing of companies and institutions that have benefited from Mari
            Frank's expert training programs:
            <br><br>
            State Bar of California<br>
            &nbsp;&nbsp;-Certified Trainer for Continuing Legal Education:<br><br>
            Western State University School of Law<br>
            &nbsp;&nbsp;-Professor of Negotiations for 7 years<br> <br>
            The Mediation Center <br>
            &nbsp;&nbsp;-Advanced Mediation Institute<br>
            &nbsp;&nbsp;-Certified Trainer for Professionals (non-lawyers as well as lawyers)<br>
            &nbsp;&nbsp;-Certified MCLE Trainer for State Bar of California <br>
            &nbsp;&nbsp;-Authorized to provide MCLE<br><br>
            Professor, University of California, Irvine, Conflict Management Department<br> <br>

            <div align="center"><strong><u>Partial List of Corporations and Associations Who Received Training</u></strong></div>
            <br>
            <table cols="50%, *">
              <tr>
                <td width="300">
                  American Medical Consumers Corporation<br>
                  American Express<br>
                  Bechtel Corporation<br>
                  Bell Instruments Corporation<br>
                  BioCom-San Diego<br>
                  California Office of Privacy Protection<br>
                  CIGNA Insurance Corporation<br>
                  Corporate Directions Corporation<br>
                  CPP North America<br>
                  DepoTech Corporation<br>
                  Experian <br>
                  FileNet Corporation<br>
                  Federal Trade Commission<br>
                  General Electric Corporation<br>
                  Hughes Corporation<br>
                  Human Resources Association of St. Louis<br>
                  Imperial Bank<br>
                  Landscape Architecture Association<br>
                  LawTalk, Inc. (series of Programs Internationally)<br>
                  Lee Hecht Harrison, Inc.<br>
                  Ligand Pharmaceuticals<br>
                  Lincoln National Insurance Corporation<br>
                  McDonald Douglas Corporation<br>
                  Merrill Lynch<br>
                  National Speakers Association<br>
                  Novex Corporation<br>
                  Pacific Bell Corporation<br>
                  Peterbuilt Corporation<br>
                  Unity Community Church</td>

                <td width="300">
                  Southern California Mediation Association<br>
                  (SCMA) - Annual Conventions<br>
                  Salk Institute<br>
                  SaVon Drugs<br>
                  Scripps Research Institute<br>
                  Social Security Administration<br>
                  State Bar of California <br>
                  Tanabe Research Corporation<br>
                  The Enterprising Woman<br>
                  U.S. Sales Corporation<br>
                  VersaTape Corporation<br>
                  Women in Management<br>
                  The CPA Forum<br>
                  Orange County Travel Association<br>
                  California Association of Personnel Consultants<br>
                  The Orange County Department of Education<br>
                  The Los Angeles County Office of Education<br>
                  Office of Consumer Affair - California<br>
                  International Society for Professionals in Dispute Resolution (SPIDR)-several programs<br>
                  Advanced Mediation Institute (Lead Trainer)<br>
                  Realty Investment Association<br>
                  Meeting Planners International<br>
                  <br><br>
                  Hundreds of Law Firms (over 100 Programs as Certified Trainer of Continuing Legal Education)
                </td>
              </tr>
            </table>


          </font>
        </p>


      </blockquote>
    </div>
  </div>
</div>
