<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <b>
        <h2 ALIGN="CENTER">
          <font face="Times New Roman" color="#800000"><strong>
              Workplace Mediation
            </strong></font>
        </h2>
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <blockquote>
        <p align="justify"><b>
            <font face="Times New Roman" size="3" color="#800000">What is
              workplace mediation?</font>
        </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">Workplace mediation is a
            process whereby a qualified neutral negotiator/mediator assists people in conflict (i.e.,
            supervisors, employees, colleagues, vendors, partners) to resolve their disputes without
            the expense and the time of litigation. The participants engage in facilitated negotiation
            rather than delegate their power to a judge or an arbitrator. In a meeting (or a series of
            meetings), the participants (and their attorneys, if the parties have counsel) and the
            mediator do the following: </font>
        </p>
        <ol>
          <li>
            <font face="Times New Roman" size="3">Identify the issues involved; </font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Develop communication so that each party
              understands the other's position and concerns regarding each of the issues; </font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Determine alternatives available to resolve the
              various issues in conflict; </font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Discuss the options for resolution in light of the
              interests of each of the participants; and</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Work out the terms of an agreement acceptable to
              all.</font>
          </li>
        </ol>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">What a
              mediator is not
        </b> </font>
        </p>
        <ol>
          <li>
            <font face="Times New Roman" size="3">A mediator is not an advocate for any of the
              parties;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">The mediator is not a representative or private
              counsel for any of the participants;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">The mediator is not a judge or arbitrator who will
              evaluate the information and make a decision for the parties.</font>
          </li>
        </ol>
        <p align="justify">
          <font face="Times New Roman" size="3">The resolution comes from the
            parties themselves, with the assistance of the mediator. The mediator does not impose a
            judgment, but helps the parties to craft a resolution.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">What are some
              common issues in workplace disputes?
        </b> </font>
        </p>
        <ol>
          <li>
            <font face="Times New Roman" size="3">Title VII concerns/age discrimination/sexual
              harassment/gender discrimination, etc.;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Evaluation discord (employer supervisors);</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Other types of alleged harassment;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Alleged wrongful demotion/termination or other
              alleged wrongful acts;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Breach of contract;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Patent/trademark/copyright infringement;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Confusion of duties or responsibilities;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Alleged negligence or alleged intentional acts;</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Alleged breach of fiduciary duties.</font>
          </li>
        </ol>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Participant&#146;s
              duties</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">The mediation process
            requires that the parties: </font>
        </p>
        <ol>
          <li>
            <font face="Times New Roman" size="3">Provide full and complete disclosure of all
              relevant information, such as conversations, written data, contracts, debts, expenses,
              documentation of agreements, invoices, and all information having to do with the issues in
              question (only relevant information must be disclosed);</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Act in accordance with guidelines/ground rules of
              mutual respect, honesty and problem-solving techniques explained by the mediator; and</font>
          </li>
          <li>
            <font face="Times New Roman" size="3">Commit to resolving disputes through the impartial
              mediation process in order to de-escalate conflict, reduce stress, save embarrassment for
              all, and settle quickly and satisfactorily without other exorbitant expense.</font>
          </li>
        </ol>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Role of
              independent counsel</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">Mediation does not attempt to
            deprive the participants of their own attorneys. Each participant is encouraged to
            communicate with an attorney of his/her own choice if he/she feels it is necessary. An
            advocate attorney may be consulted at the commencement of mediation, or at any time during
            the process. The attorney need not be present. Before an agreement is signed, it is
            strongly recommended that each party review the agreement with the attorney of his/her
            choice.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Confidentiality
              agreement</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">The mediation process is
            similar to settlement negotiations between parties to a lawsuit. The participants will
            agree in writing that all communications between themselves and the mediator are
            confidential, and are not admissible in any court of law. Each participant must agree that
            the mediator shall not be called as a witness in any subsequent legal proceeding. Each
            participant realizes that if mediation does not solve the entire dispute, they may agree
            to jointly appoint the mediator as an arbitrator. A party may decide to litigate, although
            this is rare. If the parties resort to litigation, the information acquired by any of the
            parties during the mediation process may only be used if it could also be discoverable
            through litigation. A Mediation Confidentiality Agreement is signed pursuant to the
            Evidence Code.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Voluntary
              process</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">Any party may withdraw from
            the mediation process at any time. The mediator may also terminate mediation if
            continuation would harm or prejudice any party. If the parties agree to settle some
            issues, but some remain, the parties may agree to transform the mediator into an
            arbitrator by way of a stipulation, or they may appoint an arbitrator to settle the
            outstanding issues. Another option is to utilize the court system to resolve the
            outstanding issues as a last resort.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Privacy
              advantage</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">With the advent of the
            information age and the Internet, court records and financial documents introduced into
            evidence are public record, and may be seen by myriad persons. There is a great advantage
            to engage in a process that is confidential and provides the privacy in all procedures.
            Nothing is revealed except what the parties agree to reveal. This protects the parties and
            their businesses, and future careers.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Mediator&#146;s
              fees</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">The mediator's fees are not
            fixed in terms of a flat fee, because there is no way to know how much time will be
            required. The parties themselves shall determine the length of time needed. The hours
            involved will be affected by the complexity of the issues, the degree of cooperation
            between the participants, and the time involved in securing discovery items. The mediator
            charges an hourly rate and a deposit fee is required at the time an appointment is set.<br>
            <br>
            The initial retainer is usually paid for by the company. In cases where all parties are
            able to share the fees, this will be encouraged by the mediator (normally paid
            proportionally). If the parties have not settled after the first five hours, the
            fee-sharing for continuing mediation may be negotiated for future sessions, if needed.<br>
            <br>
            The mediator proposes a mutually agreeable written agreement, which is presented to all
            parties for approval once all the issues have been resolved. Whether or not the parties
            attend mediation with attorneys, the parties are encouraged to review their agreement
            prior to a final signing. Often the mediator proposes the agreement with the help of the
            parties and counsel.</font>
        </p>
        <b>
          <p align="justify">
            <font face="Times New Roman" size="3" color="#800000">Conclusion</font>
          </p>
        </b>
        <p align="justify">
          <font face="Times New Roman" size="3">Our court system is too
            costly, time-consuming, destructive, and inefficient to resolve disputes quickly.
            Dragged-out court battled deplete business time and funds. With the utilization of
            mediation to resolve disputes, astute business people empower themselves to problem-solve
            conflicts, so that they can devote their energies to positive productivity and profit in
            the workplace.<br>
            <br>
            An effective mediator efficiently facilitates the resolutions of disputes. Successful
            mediation de-escalates conflict, increases trust, saves time, increases morale, and
            eliminates the high stress and high cost of a court battle.<br>
            <br>
            Consider mediation early before the hostility escalates.</font>
        </p>
      </blockquote>

    </div>
  </div>
</div>
